autostart/
dconf/
evolution/
gnome-initial-setup-done/
gnome-session/
GNOME-xdg-terminals.list/
goa-1.0/
gsconnect/
gtk-3.0/
htop/
ibus/
lazygit/
mimeapps.list/
monitors.xml/
nautilus/
nordvpn/
obsidian/
pulse/
slimbook/
slimbookintelcontroller/
terminator/
tiling-assistant/
ubuntu-xdg-terminals.list/
ulauncher/
update-notifier/
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
gnome-initial-setup-done
mimeapps.list
monitors.xml
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
nvim/lazy-lock.json
